extends layout

block anexo
    each producto in listaProductos
        tr 
            th(scope="row" class="text-center")=`${producto.id}`
            td(scope="row" class="text-center")=`${producto.title}`
            td(scope="row" class="text-center")
                img(src=`${producto.thumbnail}`  style="width: 70px;")
            td(scope="row" class="text-center")=`${producto.price}`